# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Metro
.metro/
.metro-health-check*

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Android / iOS build folders
/ios
/android
build/
*.apk
*.aab

# macOS
.DS_Store

# Windows
Thumbs.db

# debug logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# local env files
.env
.env.*.local
.env.local
.env.test
.env.production

# TypeScript
*.tsbuildinfo

# Expo assets cache (optional but useful)
assets/**/*.png.tmp
assets/**/*.jpg.tmp

# VS Code
.vscode/

# temporary files
*.tmp
*.temp
*.swp

# Example app
app-example
